{% extends "administration.html" %}
{% load static %}
{% block content %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/admin/stats.css' %}"> -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<div class="stats-section p-6 bg-gray-50">
    <!-- Title -->
    <h1 class="text-3xl font-extrabold mb-10">Estadísticas</h1>
    
    <!-- Chart Section -->
    <div class="charts-grid grid grid-cols-1 md:grid-cols-2 gap-8">
        <!-- First Chart -->
        <div class="chart-section bg-white rounded-lg shadow-lg p-6">
            <h2 class="text-xl font-semibold text-gray-800 mb-4">
                Top 3 | Cantidad imágenes procesadas
            </h2>
            <div class="chart" id="chart1">
                {{plot_div|safe}}
            </div>
        </div>

        <!-- Second Chart -->
        <div class="chart-section bg-white rounded-lg shadow-lg p-6">
            <h2 class="text-xl font-semibold text-gray-800 mb-4">
                Cantidad de imágenes editadas por usuario
            </h2>
            <div class="chart" id="chart2">
                {{plot_div2|safe}}
            </div>
        </div>
    </div>
</div>
{% endblock %}
